
		<h3>Playing Music</h3>
			<p> The Scherzo music player functions slightly differently than a normal 
				music player. When the green "Play" button is clicked, a small number
				of songs are selected randomly from the current playlist and this becomes
				the "Currently playing" list. As songs are played and requests made, this list
				is automatically kept above a minimum length. </p>
			<p> Selecting "Pause" saves the currently playing list state and upon resume,
				restarts the song at the head of the list. </p>
			<p> Selecting "Stop" stops the music playing and clears the entire "currently playing" list.</p>
			<p> "Skip" skips to the next song on the currently playing list. </p>
		
		<h3>Playlists</h3>
			<p>Playlists must be created with unique names. Then either local songs on your computer
			or streamed songs may be added to them. To select a playlist as the "current" playlist,
			select the "Change Playlist" option in the side panel. This sets the playlist and makes
			it visible to clients. </p>
			<p> Playlists may be deleted and their contents adjusted. </p>
			<p> To view the contents of any playlist, select "View Playlist". The contents will open
			in a new window.</p>
		<h3> Adding songs </h3>
			<p> Only songs that are in valid formats will be played, even if they appear on the "currently playing"
			list. </p>
		

